In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(714, 3)

In [10]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [11]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,1:],df.iloc[:,0],test_size=0.2,random_state=42)

In [12]:
x_train.head()

      Age     Fare
328  31.0  20.5250
73   26.0  14.4542
253  30.0  16.1000
719  33.0   7.7750
666  25.0  13.0000

In [25]:
y_train.first

<bound method NDFrame.first of 328    1
73     0
253    0
719    0
666    0
      ..
92     0
134    0
337    1
548    0
130    0
Name: Survived, Length: 571, dtype: int64>

In [26]:
clf=DecisionTreeClassifier()

In [27]:
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [29]:
accuracy_score(y_test,y_pred)

0.6293706293706294

In [33]:
np.mean(cross_val_score(DecisionTreeClassifier(),df.iloc[:,1:],df.iloc[:,0],cv=10,scoring='accuracy'))

0.624706572769953

Apply descritizer

In [34]:
kbin_age=KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='kmeans')
kbin_fare=KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='kmeans')

In [35]:
x_train

      Age      Fare
328  31.0   20.5250
73   26.0   14.4542
253  30.0   16.1000
719  33.0    7.7750
666  25.0   13.0000
..    ...       ...
92   46.0   61.1750
134  25.0   13.0000
337  41.0  134.5000
548  33.0   20.5250
130  33.0    7.8958

[571 rows x 2 columns]

In [36]:
trf=ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1]),
])

In [37]:
x_train_trf=trf.fit_transform(x_train)
x_test_trf=trf.transform(x_test)

C:\Users\shery\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(
C:\Users\shery\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(

In [40]:
trf.named_transformers_['first'].n_bins_

array([5])

In [41]:
output=pd.DataFrame({
    'age':x_train['Age'],
    'age_trf':x_train_trf[:,0],
    'fare':x_train['Fare'],
    'fare_trf':x_train_trf[:,1]
})

In [45]:
output.sample(5)

      age  age_trf      fare  fare_trf
847  35.0      2.0    7.8958       0.0
514  24.0      1.0    7.4958       0.0
700  18.0      1.0  227.5250       3.0
344  36.0      2.0   13.0000       0.0
438  64.0      4.0  263.0000       3.0

In [46]:
clf=DecisionTreeClassifier()

In [47]:
clf.fit(x_train_trf,y_train)
y_pred2=clf.predict(x_test_trf)

In [48]:
accuracy_score(y_test,y_pred2)

0.6223776223776224

In [51]:
x_train

      Age      Fare
328  31.0   20.5250
73   26.0   14.4542
253  30.0   16.1000
719  33.0    7.7750
666  25.0   13.0000
..    ...       ...
92   46.0   61.1750
134  25.0   13.0000
337  41.0  134.5000
548  33.0   20.5250
130  33.0    7.8958

[571 rows x 2 columns]

In [52]:
x_trf=trf.fit_transform(x_train)

C:\Users\shery\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(
C:\Users\shery\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(

In [53]:
np.mean(cross_val_score(DecisionTreeClassifier(),df.iloc[:,1:],df.iloc[:,0],cv=10,scoring='accuracy'))

0.6275039123630672