In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df=pd.read_csv('covid_toy.csv')

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [2]:
pd.read_csv('covid_toy.csv')

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [9]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [10]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [12]:
x_train

    age  gender  fever   cough       city
35   82  Female  102.0  Strong  Bangalore
85   16  Female  103.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
61   81  Female   98.0  Strong     Mumbai
63   10    Male  100.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
17   40  Female   98.0  Strong      Delhi
43   22  Female   99.0    Mild  Bangalore
78   11    Male  100.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi
92   82  Female  102.0  Strong    Kolkata

[80 rows x 5 columns]

Aam Zindagi

In [13]:
x_train

    age  gender  fever   cough       city
35   82  Female  102.0  Strong  Bangalore
85   16  Female  103.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
61   81  Female   98.0  Strong     Mumbai
63   10    Male  100.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
17   40  Female   98.0  Strong      Delhi
43   22  Female   99.0    Mild  Bangalore
78   11    Male  100.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi
92   82  Female  102.0  Strong    Kolkata

[80 rows x 5 columns]

In [14]:
# adding simple imputer to fever col
si=SimpleImputer()
x_train_fever=si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever=si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [16]:
# ordinalencoding-> cough
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough=oe.fit_transform(x_test[['cough']])
x_train_cough.shape

(80, 1)

In [19]:
# onehotencoding -> gender,city
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first')
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

# also the test data
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [20]:
# Extracting Age
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values

x_train_age.shape

(80, 1)

In [22]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

# also the test data
x_test_transformd=np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

x_train_transformed.shape

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 2 has 0 dimension(s)

Mentos jindagi

In [23]:
from sklearn.compose import ColumnTransformer

In [33]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
     ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])],remainder='passthrough')

In [37]:
transformer.fit_transform(x_train)
transformer.fit_transform(x_train).shape

(80, 7)