In [15]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv('covid_toy.csv')

In [17]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=42)

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [26]:
transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),('tnf3',OneHotEncoder(sparse_output=True,drop='first'),['gender'])],remainder='passthrough')

In [27]:
x_train

    age  gender  fever   cough
55   81  Female  101.0    Mild
88    5  Female  100.0    Mild
26   19  Female  100.0    Mild
42   27    Male  100.0    Mild
69   73  Female  103.0    Mild
..  ...     ...    ...     ...
60   24  Female  102.0  Strong
71   75  Female  104.0  Strong
14   51    Male  104.0    Mild
92   82  Female  102.0  Strong
51   11  Female  100.0  Strong

[80 rows x 4 columns]

In [28]:
transformer.fit_transform(x_train)

array([[101.,   0.,   0.,  81.],
       [100.,   0.,   0.,   5.],
       [100.,   0.,   0.,  19.],
       [100.,   0.,   1.,  27.],
       [103.,   0.,   0.,  73.],
       [103.,   1.,   1.,  70.],
       [102.,   0.,   0.,  49.],
       [101.,   1.,   0.,  51.],
       [101.,   0.,   0.,  64.],
       [101.,   0.,   0.,  83.],
       [ 98.,   0.,   0.,  65.],
       [104.,   0.,   0.,  18.],
       [103.,   0.,   0.,  16.],
       [104.,   0.,   1.,  16.],
       [100.,   0.,   1.,  27.],
       [101.,   0.,   0.,  84.],
       [104.,   0.,   1.,  51.],
       [102.,   0.,   0.,  69.],
       [102.,   1.,   0.,  82.],
       [103.,   0.,   0.,  69.],
       [104.,   0.,   1.,  44.],
       [102.,   0.,   1.,  74.],
       [101.,   1.,   0.,  20.],
       [104.,   0.,   0.,  12.],
       [102.,   1.,   0.,  33.],
       [101.,   1.,   0.,  42.],
       [ 99.,   0.,   1.,  65.],
       [101.,   0.,   1.,  23.],
       [104.,   1.,   0.,  56.],
       [102.,   0.,   1.,  64.],
       [100.,   1.,   0.,  13.],
       [ 98.,   0.,   0.,  31.],
       [ 98.,   1.,   0.,  40.],
       [101.,   0.,   0.,  49.],
       [100.,   1.,   0.,  19.],
       [100.,   0.,   1.,  11.],
       [101.,   1.,   1.,  14.],
       [104.,   0.,   1.,  42.],
       [101.,   0.,   0.,  38.],
       [103.,   1.,   1.,  46.],
       [101.,   1.,   1.,  71.],
       [ 98.,   1.,   0.,  10.],
       [ 99.,   0.,   0.,  60.],
       [ 99.,   0.,   0.,  22.],
       [101.,   0.,   1.,  19.],
       [ 99.,   0.,   1.,  65.],
       [101.,   0.,   0.,  19.],
       [104.,   1.,   0.,  54.],
       [ 98.,   1.,   0.,  81.],
       [101.,   0.,   0.,  20.],
       [103.,   0.,   0.,  48.],
       [101.,   0.,   1.,  82.],
       [ 98.,   1.,   1.,  23.],
       [ 99.,   1.,   1.,  66.],
       [ 98.,   1.,   0.,   5.],
       [ 99.,   1.,   0.,  49.],
       [102.,   0.,   1.,   5.],
       [101.,   1.,   0.,  34.],
       [101.,   1.,   1.,  79.],
       [104.,   0.,   0.,   6.],
       [100.,   0.,   1.,  10.],
       [ 98.,   1.,   0.,  69.],
       [100.,   0.,   1.,  55.],
       [101.,   1.,   0.,  34.],
       [100.,   0.,   1.,  27.],
       [100.,   1.,   0.,  47.],
       [ 98.,   0.,   1.,  73.],
       [101.,   0.,   1.,  42.],
       [ 98.,   0.,   0.,  80.],
       [101.,   1.,   1.,  47.],
       [101.,   0.,   1.,  38.],
       [104.,   1.,   0.,  34.],
       [104.,   0.,   1.,  25.],
       [ 98.,   0.,   1.,  24.],
       [ 98.,   1.,   1.,  12.],
       [102.,   1.,   0.,  24.],
       [104.,   1.,   0.,  75.],
       [104.,   0.,   1.,  51.],
       [102.,   1.,   0.,  82.],
       [100.,   1.,   0.,  11.]])

In [29]:
transformer.transform(x_test)

array([[104.,   0.,   0.,  17.],
       [ 98.,   0.,   1.,  83.],
       [101.,   1.,   0.,  68.],
       [ 99.,   0.,   1.,  72.],
       [102.,   1.,   1.,  20.],
       [103.,   0.,   0.,  50.],
       [ 98.,   1.,   0.,  71.],
       [ 99.,   0.,   0.,  14.],
       [101.,   0.,   0.,  75.],
       [103.,   0.,   1.,  60.],
       [ 98.,   0.,   0.,  64.],
       [101.,   0.,   1.,  15.],
       [ 98.,   1.,   1.,  34.],
       [ 98.,   0.,   0.,  26.],
       [ 99.,   1.,   0.,  59.],
       [101.,   0.,   0.,  65.],
       [100.,   0.,   1.,  80.],
       [101.,   0.,   0.,   8.],
       [ 99.,   1.,   0.,  25.],
       [103.,   0.,   1.,  83.]])